
.allUsers {
    display: flex;
    flex-wrap: wrap;
    flex-flow:nowrap;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 22px;
    padding: 25px 35px 35px;
    width: 75%;
    margin: 35px auto 0;
    height: 72vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.onlineUsers {
    border-bottom: 1px solid #35747A;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.onlineUsers .user img {
    box-shadow: 0 0 15px #00AC56;
}

.allUsers h3 {
    font-size: 22px;
    color: #35747A;
    margin-bottom: 15px;
}

.usersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user {
    display: flex;
    flex-direction: column;
    color: #35747A;
    width: 20%;
    margin-bottom: 20px;
}

.user img {
    width: 3.5vw;
    border-radius: 50%;
    margin-bottom: 3px;
}