* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App > div {
    display: flex;
}

.App > div > section {
    flex-grow: 1;
    flex-basis: 0;
}

h2 {
    color: #61C6D4;
    font-size: 40px;
    margin-bottom: 55px;
}